{% extends 'base.html.twig' %}

{% block body %}
    <div class="container ">
        <h1 class="alert text-center alert-heading">Ajouter un PFE</h1>
        {{form(form)}}
    </div>
{% endblock %}

{% block title %}

{% endblock %}

